a{
    color: white;
    text-decoration: whitesmoke;
    background-color: transparent;
    text-align: right;
    text-transform: uppercase;
    float: right;    
  
}
.navbar-brand {
    // margin-right: 100rem;
    justify-content: space-between;
    justify-content: flex-end;
    display: flex;
    
}

// .brand{
//     font-style : gras;
//     text-transform: uppercase;
//     text-decoration: whitesmoke;
//     font-weight:bold;
//     font-size: 20px; 
//     font-family: 'Arial Black';
//     color: wheat;
//     justify-content: flex-start;
    
    
// }