a{
    color: white;
    text-decoration: whitesmoke;
    background-color: transparent;
    text-align: right;
    text-transform: uppercase;
    float: right;    
}
.navbar-brand {
    float: right;
}